body{
    background-color:rgb(6, 6, 61);
}
.head{
    color: azure;
    text-align: center;
}
h1{
    color:red;
    text-align: center;
    font-size: 2.4rem;
}
p{
    color: blanchedalmond;
    text-align: center;
    margin-top: 200px;
    font-size: 1rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


button{ height: 100px;
    width: 100px;
    margin: 20px;
    color: red;
    font-size: 4rem;
    font-weight: 1.2rem;
}
@media only screen and (max-width: 600px) {
    .container{
        flex-wrap: wrap;
    }
  }
  @media only screen and (max-width: 600px) {
    h1{
        font-size:1rem ;
    }

  }
 .a{
      background-image: url('../images/crash.png');
      padding: 1px;
  }
  .s{
      background-image: url('../images/kick.png');
  }
  .d{
      background-image: url('../images/snare.png');
  }
  .j{
      background-image: url('../images/tom1.png');
  }
  .k{
      background-image: url('../images/tom2.png');
  }
 .l{
     background-image: url('../images/tom3.png');
 }
 .w{
     background-image: url('../images/tom4.png');
 }
 .pressed{
    box-shadow: 0 3px 4px 0;
    opacity: .6; 
 }